<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
    <!-- 设置属性注入bean -->

    <bean id="compactDisc" class="soundsystem.BlankDisc">
        <property name="title" value="hello"/>
        <property name="artist" value="world"/>
        <property name="tracks">
            <list>
                <value>xxxx</value>
                <value>yyyy</value>
                <value>aaaa</value>
                <value>44444</value>
                <value>55555</value>
            </list>
        </property>
    </bean>
  
    <!-- 构造器注入bean -->
    <bean id="cdPlayer" class="soundsystem.CDPlayer">
        <constructor-arg ref="compactDisc"/>
    </bean>
</beans>